# Stat HW01 by 郭宇杰, B07611039

### 1.3
- (a) 25,000 registered voters
- (b) 200 registered voters interviewed
- (c) The value 48% is a statistic, since the 200 registered interviewed voters are sample instead of population. As a result, it is not a parameter but a statistic.

### 1.6
...OK I understand its words.

### 1.7
- (a) If the probability of success on head or tail is not 0.5 or near 0.5, we could conclude that this coin is a biased coin since the number of heads 95 is a lot of greater than 50.
- (b) If the probability of success on head or tail is 0.5 or near 0.5, we could conclude that this coin is an unbiased coin.
- (c) My answer is "NO" since the statement says I will "always" observe "exactly" 50 heads. The use of these two words are so arrogant. I think the number from 40 to 60 is a reasonable range, but it is just a rough estimate.

### 2.5
- (a) The age is belongs to interval data.
- (b) The floor of residents' condominium is belongs to ordinal data.
- (c) This is belongs to nominal data.
- (d) This is belongs to ordinal data.
- (e) This is belongs to nominal data.

### 2.11
- (a) This is belongs to nominal data.
- (b) This is belongs to interval data.
- (c) This is belongs to ordinal data.

### 2.13

In [2]:
import matplotlib
import pandas as pd

In [3]:
df_c2_3 = pd.read_excel('Xr02-13.xlsx')

In [4]:
print("Head of dataset:")

Head of dataset:

In [5]:
display(df_c2_3.head())

  Country  Oil Reserves (Barrels)
0  Brazil             15310000000
1  Canada            172500000000
2   China             24650000000
3    Iran            157800000000
4    Iraq            144200000000

In [8]:
print("Tail of dataset:")
display(df_c2_3.tail())
Bcount_tab = df_c2_3.value_counts()
display(Bcount_tab)

Tail of dataset:

                 Country  Oil Reserves (Barrels)
10                Russia            103200000000
11          Saudi Arabia            268300000000
12  United Arab Emirates             97800000000
13         United States             36520000000
14             Venezuela            298400000000

Country               Oil Reserves (Barrels)
Venezuela             298400000000              1
United States         36520000000               1
United Arab Emirates  97800000000               1
Saudi Arabia          268300000000              1
Russia                103200000000              1
Qatar                 25240000000               1
Nigeria               37070000000               1
Libya                 48360000000               1
Kuwait                104000000000              1
Kazakhstan            30000000000               1
Iraq                  144200000000              1
Iran                  157800000000              1
China                 24650000000               1
Canada                172500000000              1
Brazil                15310000000               1
dtype: int64

In [9]:
BName = ("Budweiser Light", "Busch Light", "Coors Light", "Michelob Light", "Miller Lite", "Natural Light", 
         "Other brand")
explode = (0.1, 0, 0, 0, 0, 0, 0)  # only "explode" the 1st slice (i.e. 'Budweiser Light')
fig2, ax2 = plt.subplots()
ax2.pie(Bcount_tab, explode=explode, labels=BName, autopct='%1.1f%%',
        shadow=True, startangle=90)
ax2.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.
plt.title('Pie Chart for Beer Brands')
plt.show()

NameError: name 'plt' is not defined